<div class="wrapper-admin">
  <%= render partial: "admin/shared/menu_left" %>
  <div class="content-right">
    <div class="title-content">
      <h1><span id="title-content-admin">Mes Réservations</span></h1>
    </div>
    <h4>Nouvelle Réservation</h4>
    <%= simple_form_for [:admin, @booking] do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <h3>Heures & Dates</h3>
      <div class="col-xs-6">
        <%= f.input :date, as: :date, html5: true %>
        <%= f.input :room_id, collection: @rooms %>
        <a class="edit-btn" id="price_check">
          Vérifier la disponibilité et le prix
        </a>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
    <div class="row">
      <h3>Le Client</h3>
      <div class="col-xs-6">
        <% if @potential_users.count == 0 %>
        <input type="text" id="email" label="Email " name="email"></input>
        <input type="text" id="fname" label="First Name " name="fname"></input>
        <input type="text" label="Last Name " name="lname" id="lname" ></input>
        <a class="edit-btn" id="customer-check">
          Vérifier la base de donnée client
        </a>
        <% elsif @potential_users.count >= 1 %>
          <%= f.input :user, collection: @potential_users %>
        <% end %>
      </div>
    </div>
    <%= f.input :arrival_hour %>
    <%= f.input :departure_hour %>
    <%= f.input :total_reduction %>
    <%= f.input :final_price %>
    <%= f.button :submit %>
    <% end %>

    <% if @potential_users.count >= 1 %>
    <div class="user-card">
      <h2>Nous avons obtenu <%= @potential_users.count %> clients !</h2>
      <% @potential_users.each do |user| %>
      <h3><%= user.first_name %> <%= user.last_name %> </h3>
      <h4><%= user.phone_number %> <%= user.email %> </h4>
      <a class="edit-btn">Sélectionner !</a>
    <% end %>
    </div>
    <% end %>
</div>
  </div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      console.log("modal workds");
      $('#customer-check').on("click", function() {
        var customerData = $('#booking_user').val();
        console.log(customerData);
      });
    });

    $("#customer-check").on("click", function() {
      var fname = $('#fname').val();
      console.log(fname);
      var lname = $('#lname').val();
      console.log(lname);
      var email = $('#email').val();
      console.log(email);
      var myURL = document.location;
      document.location = myURL + "?fname=" + fname + "&" + "lname=" + lname + "&" + "email=" + email;
    });

    $("#price_check").on("click", function() {
      var room = $('select#booking_room_id :selected').val();
      console.log(room);
      var date = $('#booking_date').val();
      console.log(date);
      var myURL = document.location;
      document.location = myURL + "&" + "?room_id=" + room + "&" + "?date=" + date;
    });

    $("#customer-check").on("click", function() {
      $.ajax({ url: "/admin/bookings",
          type: 'GET',
          data: fname = $('#fname').val(),
      });
      console.log(fname);
    });

  <% end %>
<% end %>

<!-- $.ajax({
        url: "/",
        type: "post",
        data: values,
        success: function(){
          alert('Saved Successfully');
        },
        error:function(){
         alert('Error');
        }
    $("#customer-check").on("click", function() {
      var fname = $('#fname').val();
      console.log(fname);
      var lname = $('#lname').val();
      console.log(lname);
      var email = $('#email').val();
      console.log(email);
      var myURL = document.location;
      document.location = myURL + "?fname=" + fname + "?lname=" + lname + "?email=" + email;
    });
      }); -->

