<div class="wrapper-admin">
  <%= render partial: "admin/shared/menu_left" %>
  <div class="content-right">
    <div class="title-content">
      <h1><span id="title-content-admin">Nouvelle Réservation</span></h1>
    </div>
    <%= simple_form_for [:admin, @booking] do |f| %>
    <%= f.error_notification %>
    <div class="admin-content" id="hostel-content">
      <div class="half-width admin-card">
        <h2>Heures & Dates</h2>
        <div class="col-xs-6">
          <% if !params[:date].blank? %>
            <%= f.input :date, as: :date, html5: true, value: "2017-01-09" %>
          <% else %>
            <%= f.input :date, as: :date, html5: true %>
          <% end %>
          <!-- LA CHAMBRE -->
          <% if !params[:room_id].blank? %>
            <%= f.input :room_id, collection: @rooms, selected: params[:room_id] %>
          <% else %>
            <%= f.input :room_id, collection: @rooms %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <% if !params[:date].blank? && !params[:room_id].blank? %>
            <% if @potential_booking.count == 0 %>
            <h4>La chambre "<%=@potential_room.name %>" est disponible !</h4>
            <% else %>
            <h4>La chambre "<%=@potential_room.name %>" n'est plus disponible à cette date</h4>
            <% end %>
          <% end %>
        </div>
        <a class="btn edit-btn" id="booking-check">
            Vérifier la disponibilité et le prix
        </a>
      </div>
      <div class="half-width admin-card">
        <h2>Le Client</h2>
        <div class="col-xs-6">
          <label>Trouver mon client </label>
          <h3>Nom, prénom, email ou n° de téléphone</h3>
          <input type="text" id="customer-data"  name="email" <% if !params[:customer].blank? %> value="<%= params[:customer]%>" <% end %>></input>
          <a class="btn edit-btn" id="customer-check">
            Trouver mon client
          </a>
          <h3>OU</h3>
          <a class="btn edit-btn" id="customer-check">
            Créer un nouveau client
          </a>
        </div>
        <div class="col-xs-6">
          <% if !@potential_users.nil? %>
          <% if @potential_users.count == 0 %>
            <h3>Pas de client trouvé</h3>
            (à ajouter créer un compte)
          <% elsif @potential_users.count >= 1 %>
            <h3>Nous avons obtenu <%= @potential_users.count %> clients !</h3>
            <%= f.input :user, collection: @potential_users, :label_method => lambda { |user| "Mlle #{user.first_name} #{user.last_name}".html_safe }, :value_method => :id, selected: @potential_users.first %>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="half-width admin-card">
        <h2>Détails de la chambre</h2>
        <img src="http://videosurveillance-strasbourg.fr/wp-content/uploads/2013/12/hotel-300x169.jpg" alt="">
      </div>
      <div class="half-width admin-card">
        <h2>Autres informations</h2>
        <%= f.input :arrival_hour %>
        <%= f.input :departure_hour %>
      </div>

    <%= f.input :total_reduction %>
    <%= f.input :final_price %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
</div>


    <% if !@potential_users.nil? %>
    <div class="user-card">
      <h2>Nous avons obtenu <%= @potential_users.count %> clients !</h2>
      <% @potential_users.each do |user| %>
      <h3><%= user.first_name %> <%= user.last_name %> </h3>
      <h4><%= user.phone_number %> <%= user.email %> </h4>
      <a class="edit-btn">Sélectionner !</a>
    <% end %>
    </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(".menu-btn").removeClass("active");
    $("#bookings-btn").addClass("active");
    $(document).ready(function() {
      console.log("modal workds");
      var customerInfo = location.search.substring(1).split("&")[0].split("=")[1];
      console.log("client" + " : " + customerInfo);
      $('#custom-data').val("customerInfo");
      var roomId = location.search.substring(1).split("&")[2].split("=")[1];
      var dateInfo = location.search.substring(1).split("&")[1].split("=")[1];
      console.log(roomId);
      $('#booking_date').val(dateInfo);
      console.log(dateInfo);
    });

    $("#booking-check").on("click", function() {
      console.log("ça marche !");
      var room = $('select#booking_room_id :selected').val();
      var date = $('#booking_date').val();
      var customerdata = $('#customer-data').val();
      var user = $('select#booking_user :selected').val();;
      console.log(customerdata);
      document.location = "/admin/bookings/new" + "?customer=" + customerdata + "&" + "date=" + date + "&" + "room_id=" + room + "&" + "user=" + user;
    });

    $("#customer-check").on("click", function() {
      console.log("ça marche !");
      var room = $('select#booking_room_id :selected').val();
      var date = $('#booking_date').val();
      var customerdata = $('#customer-data').val();
      var user = $('select#booking_user :selected').val();
      console.log(customerdata);
      document.location = "/admin/bookings/new" + "?customer=" + customerdata + "&" + "date=" + date + "&" + "room_id=" + room + "&" + "user=" + user;
    });
  <% end %>
<% end %>

