<div class="wrapper-admin">
  <%= render partial: "admin/shared/menu_left" %>
  <div class="content-right">
    <div class="title-content">
      <h1><span id="title-content-admin">Mon Hôtel</span></h1>
    </div>
      <!-- HOSTEL CONTENT -->
    <div class="admin-content" id="hostel-content">
      <div class="hostel-main-info half-width admin-card">
        <% hostel = @hostels.first %>
        <%= render partial: "pages/shared_admin/edit_hostel_modals", locals: {hostel: hostel} %>
        <h2><%= hostel.name %></h2>
        <div class="sub-admin-card">
          <div class="sub-sub-admin-card text-right">
            <h3>"<%= hostel.short_description %>"</h3>
          </div>
          <div class="sub-sub-admin-card text-left">
            <h4><i class="fa fa-envelope" aria-hidden="true"></i><%= hostel.email %></h4>
            <h4><i class="fa fa-phone" aria-hidden="true"></i><%= hostel.phone_number %></h4>
            <h4><i class="fa fa-map-marker" aria-hidden="true"></i><%= hostel.address %></h4>
          </div>
        </div>
        <button type="button" class="edit-btn" data-toggle="modal" data-target="#HostelEditModalMainInfo">
        Modifier
        </button>
      </div>
      <div class="hostel-description half-width admin-card">
        <p><%= hostel.description %> </p>
        <button type="button" class="edit-btn" data-toggle="modal" data-target="#HostelEditDescription">
    Modifier
      </button>
      </div>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(".menu-btn").removeClass("active");
    $("#hostel-btn").addClass("active");
    console.log("Js is working");
    $(document).ready(function() {
      $("li").on("click", function(e){
          $("li").removeClass("active");
          $(this).addClass("active");
          <!-- HIDE PROFILE HEAD -->
          $(".room-content").addClass("hidden");
          <!-- // Show target tab-content (use class="hidden") -->
          tabSelector = $(this).data("target");
          console.log(tabSelector);
          $(tabSelector).removeClass("hidden");
      });
    });
  <% end %>
<% end %>
